
header {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #073156;
    padding: 10px 0px;
    font-size: 13px;
}

.headerLeft {
    width: 70%;
}

.titleName {
    color: #f1f1f1;
    font-size: 22px;
    margin: 10px 16px;
    font-size: 1.5em;
}

.titleObj {
    color: #1a6be5;
    margin: 10px 16px;
}

.headerLeft p {
    color: #f1f1f1;
    font-size: 0.9em;
    margin: 10px 16px;
}
.headerRight {
    width: 20%;
}

.headerRight img {
    width: 66%;
    border-radius: 50%;
    border: 4px solid #3f3fd3;
}

.contact {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    background-color: black;
    font-size: 8px;
}

.contactItems {
    margin: 12px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.contactItems a {
    text-decoration: none;
    color: #f1f1f1;
}

.contactItems span {
    margin-left: 12px;
}